/* ----------------  Corps de l'IHM  ---------------------------- */

body, html {
    height: 100%;   
}

body {
    overflow-x: hidden; 
}

body { 
    animation: fadeInAnimation ease 2s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
    } 
    @keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
} 

.wrappert {
    height: 100%; 
    width: 100%;
    display: table;   
}

.wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.main-img{
    position: relative;
    left: 0%;
    height: 100%;
    width: auto;
}

img {
    position: relative;
    height: 100%;
    width: 50%;
}

a:link { 
 text-decoration:none; 
} 
a:hover{
    color: white;
}


/* ----------------  Partie POPUPS  ---------------------------- */

/* Permet d'adapter la taille des boutons */
.button_popup{
    background: no-repeat center;
    border: none; 
    cursor: pointer;
}
.button_position{
    z-index: 10;
    position: absolute;
    width: 7%;
    height: 7%;
}
.button_position_2{
    z-index: 10;
    position: absolute;
    width: 4.85%;
    height: 4.85%;
}

/* Permet de placer les boutons */
.first_room {
    top: 22%;
    left: 45.25%;
}
.second-room {
    top: 28%;
    left: 49.5%;
}
.third-room {
    top: 32.75%;
    left: 53.40%;
}
.fourth-room {
    top: 47.5%;
    left: 34%;
}
.fifth-room {
    top: 56.5%;
    left: 41%;
}
.sixth-room {
    top: 35%;
    left: 67%;
}
.seventh-room {
    top: 79%;
    left: 29%;
}
.eighth-room {
    top: 84%;
    left: 33%;
}
.ninth-room {
    top: 89%;
    left: 37%;
}
.tenth-room {
    top: 88%;
    left: 60%;
}
.eleventh-room {
    top: 1.75%;
    left: 65.9%;
}

/* Fonction permettant d'agrandir les bouton lorsque le curseur passe devant */
.agrandir {
    max-width : 100%;
    height : auto;
    margin: 0 auto;
    transition: transform .4s;
}
   
.agrandir:hover {
    transform: scale(1.5);
}

.agrandir_arrow{
    max-width : 100%;
    height : auto;
    margin: 0 auto;
    transition: transform .4s;
}

.agrandir_arrow:hover {
    transform: scale(1.5);
}

#popup-img {
    z-index: 100;
    position: relative;
    height: 350px;
}

.img-popup {
    z-index: 100;
    position: relative;
    width: 100%;
    height: auto; 
}

.button-arrow {
    background: no-repeat center;
    border: none; 
    cursor: pointer;
}

.main_img_popup {
    z-index: 1;
    position: absolute;
    width: 47.5%;
    height: 57.5%;
    opacity: 0%;
    transition:opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.second_img_popup {
    z-index: 10;
    position: absolute;
    top: 150px;
    left: 325px;
    width: 47.5%;
    height: 57.5%;
    opacity: 0%;
    transition:opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.arrow {
    z-index: 2000;
    position: absolute;
    width: 13%;
}

.first_popup {
    background: url('img/POPUP_Grace_Hopper.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 28.5%;
    left: 49%;
}

.second_popup {
    background: url('img/POPUP_Alan_Turing.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 33%;
    left: 9%;
}

.third_popup {
    background: url('img/POPUP_Mary_Jackson.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 38%;
    left: 13%;
}

.fourth_popup {
    background: url('img/POPUP_Ada_Lovelace.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 25%;
    left: 45%;
    height: 70%;
    width: 50%;
}

.fifth_popup {
    background: url('img/POPUP_Leonard_De_Vinci.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 25%;
    left: 50.5%;
}

.sixth_popup {
    background: url('img/POPUP_Valentina_Terechkova.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 15%;
    left: 26.5%;
}

.seventh_popup {
    background: url('img/POPUP_banc_arguin.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 22%;
    left: 39%;
}

.eighth_popup {
    background: url('img/POPUP_dune_du_pyla.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 26.5%;
    left: 42.5%;
    height: 70%;
    width: 50%;
}

.ninth_popup {
    background: url('img/POPUP_miroir_eau.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 31%;
    left: 47%;
}

.tenth_popup {
    background: url('img/POPUP_Einstein.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 25%;
    left: 44%;
    height: 70%;
    width: 50%;
}

.first_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Grace_Hopper.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.second_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Alan_Turing.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.third_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Mary_Jackson.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.fourth_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Ada_Lovelace.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    height: 70%;
    width: 50%;
}

.fifth_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Leonard_De_Vinci.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.sixth_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Valentina_Terechkova.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.seventh_mini_popup {
    z-index: 1;
    background: url('img/POPUP_banc_arguin.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.eighth_mini_popup {
    z-index: 1;
    background: url('img/POPUP_dune_du_pyla.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    height: 70%;
    width: 50%;
}

.ninth_mini_popup {
    z-index: 1;
    background: url('img/POPUP_miroir_eau.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.tenth_mini_popup {
    z-index: 1;
    background: url('img/POPUP_Einstein.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    height: 70%;
    width: 50%;
}

.first_popup_first_arrow {
    top: 22%;
    left: 37%;
}

.first_popup_second_arrow {
    top: 63%;
    left: 37%;
}

.first_popup_third_arrow {
    top: 90.5%;
    left: 37%;
}

.second_popup_first_arrow {
    top: 22%;
    left: 38%;
}

.second_popup_second_arrow {
    top: 54%;
    left: 38%;
}

.second_popup_third_arrow {
    top: 89%;
    left: 38%;
}

.third_popup_first_arrow {
    top: 24%;
    left: 37%;
}

.third_popup_second_arrow {
    top: 52%;
    left: 37%;
}

.third_popup_third_arrow {
    top: 82%;
    left: 37%;
}

.fourth_popup_first_arrow {
    top: 25%;
    left: 37%;
}

.fourth_popup_second_arrow {
    top: 63%;
    left: 37%;
}

.fourth_popup_third_arrow {
    top: 93.5%;
    left: 37%;
}

.fifth_popup_first_arrow {
    top: 22%;
    left: 37%;
}

.fifth_popup_second_arrow {
    top: 54.5%;
    left: 37%;
}

.fifth_popup_third_arrow {
    top: 93.5%;
    left: 37%;
}

.sixth_popup_first_arrow {
    top: 23.5%;
    left: 38%;
}

.sixth_popup_second_arrow {
    top: 58%;
    left: 38%;
}

.sixth_popup_third_arrow {
    top: 94.5%;
    left: 38%;
}

.seventh_popup_first_arrow {
    top: 24%;
    left: 37%;
}

.seventh_popup_second_arrow {
    top: 52%;
    left: 37%;
}

.seventh_popup_third_arrow {
    top: 87.5%;
    left: 37%;
}

.eighth_popup_first_arrow {
    top: 27%;
    left: 42%;
}

.eighth_popup_second_arrow {
    top: 56%;
    left: 42%;
}

.eighth_popup_third_arrow {
    top: 80%;
    left: 42%;
}

.ninth_popup_first_arrow {
    top: 47%;
    left: 40%;
}

.tenth_popup_first_arrow {
    top: 29%;
    left: 40%;
}

.tenth_popup_second_arrow {
    top: 72%;
    left: 40%;
}

.tenth_popup_third_arrow {
    top: 92%;
    left: 40%;
}

.transition_opacity {
    opacity: 100%;
    z-index: 3000;
}


/*  ------------------ Partie de gauche ---------------- */


.menu_bot {
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.menu_bot::-webkit-scrollbar {
    display: none;
  }

.rectangle_presentations {
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 100%;
    background: linear-gradient(178.01deg, #55A0D8 18.85%, #82B942 73.69%);
}

.presentation_text {
    position: relative; 
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    left: 0%;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.line {
    position: relative; 
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    left: 0%;
    font-size: 18px;
    color: #FFFFFF;
    cursor: default;
}

.transition_box{
    width:500px;
    margin:0 auto;
    background-color:beige;
    height:200px;
    opacity:0.2;
    text-align:center; 
    transition:opacity 2s;
    -webkit-transition: opacity 2s;  
  }
  
  .transition_box:hover{
  opacity:1;
  }

  .moved {
    transform: translate(-97%);
  }

  /* Partie horaires */

.image_horaires {
    z-index: 5000;
    position: absolute;
    top: 0%;
    left: 98%;
    width: 80%;
    height: 100%;
    transition: transform 1.5s;
}

.image_horaire_2 {
    z-index: 5000;
    background: url('img/prochaine_pres.png') no-repeat center;
    background-size: 100% 100%;
   
}

.hour_actual {
    z-index: 5500;
    position: relative;
    background: url('img/fleche.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
    top: 15%;
    left: -41%;
    width: 3%;
    height: 77%;
}

.cursor_pointer {
    cursor: pointer;
}

.exit-planning {
    cursor: pointer;
}

.first_column {
    display: inline;
}
.second_column {
    display: inline;
}
.third_column {
    display: inline;
}
.fourth_column {
    display: inline;
}
.fifth_column {
    display: inline;
}
.sixth_column {
    display: inline;
}

